@{
    ViewData["Title"] = "Home Page";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Home</li>
    </ol>
</nav>
<div>
    <h1 class="display-6 mb-5">Administración</h1>
    <div class="container">
        <div class="row justify-content-center g-5">
            <div class="col-3">
                <a
                    class="uh-card text-center rounded d-block p-3 link-offset-2 link-underline link-underline-opacity-0 bg-secondary bg-opacity-10"
                    asp-area="" asp-controller="Inquilino" asp-action="Index"
                >
                    <img class="w-75" src="~/images/inquilinos.png" alt="Inquilinos icono" />
                    <p class="mb-0 mt-3 h5 text-center text-body-tertiary">Inquilinos</p>
                </a>
            </div>
            <div class="col-3">
                <a class="uh-card text-center rounded d-block p-3 link-offset-2 link-underline link-underline-opacity-0 bg-secondary bg-opacity-10"
                   asp-area="" asp-controller="Inquilino" asp-action="Index">
                    <img class="w-75" src="~/images/vigilantes.png" alt="Vigilantes icono" />
                    <p class="mb-0 mt-3 h5 text-center text-body-tertiary">Vigilantes</p>
                </a>
            </div>
            <div class="col-3">
                <a class="uh-card text-center rounded d-block p-3 link-offset-2 link-underline link-underline-opacity-0 bg-secondary bg-opacity-10"
                   asp-area="" asp-controller="Inquilino" asp-action="Index">
                    <img class="w-75" src="~/images/edificios.png" alt="Edificios icono" />
                    <p class="mb-0 mt-3 h5 text-center text-body-tertiary">Edificios</p>
                </a>
            </div>
            <div class="col-3">
                <a class="uh-card text-center rounded d-block p-3 link-offset-2 link-underline link-underline-opacity-0 bg-secondary bg-opacity-10"
                   asp-area="" asp-controller="Inquilino" asp-action="Index">
                    <img class="w-75" src="~/images/departamentos.png" alt="Departamentos icono" />
                    <p class="mb-0 mt-3 h5 text-center text-body-tertiary">Departamentos</p>
                </a>
            </div>
            <div class="col-3">
                <a class="uh-card text-center rounded d-block p-3 link-offset-2 link-underline link-underline-opacity-0 bg-secondary bg-opacity-10"
                   asp-area="" asp-controller="Identificacion" asp-action="Index">
                    <img class="w-75" src="~/images/identificaciones.png" alt="Identificaciones icono" />
                    <p class="mb-0 mt-3 h5 text-center text-body-tertiary">Identificaciones</p>
                </a>
            </div>
            <div class="col-3">
                <a class="uh-card text-center rounded d-block p-3 link-offset-2 link-underline link-underline-opacity-0 bg-secondary bg-opacity-10"
                   asp-area="" asp-controller="Inquilino" asp-action="Index">
                    <img class="w-75" src="~/images/tipos_usuario.png" alt="Tipos de usuario icono" />
                    <p class="mb-0 mt-3 h5 text-center text-body-tertiary">Tipos de usuario</p>
                </a>
            </div>
        </div>
    </div>
</div>
