@model UHabitacional_Web.Models.Inquilino

@{
    ViewData["Title"] = "Editar Inquilino";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item">
            <a asp-area="" asp-controller="Inquilino" asp-action="Index">Inquilinos</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Editar</li>
    </ol>
</nav>

<div>
    <h1 class="display-6 mb-5">Editar Inquilino</h1>
    <div class="container">
        <form class="row justify-content-center border border-secondary-subtle p-4 rounded" asp-action="Edit">
            <input type="hidden" asp-for="UsuarioId" />

            <div class="mb-3 col-6">
                <label asp-for="Usuario.Nombre" class="form-label">Nombre</label>
                <input asp-for="Usuario.Nombre" type="text" class="form-control" placeholder="John">
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Usuario.ApellidoPaterno" class="form-label">Apellido Paterno</label>
                <input asp-for="Usuario.ApellidoPaterno" type="text" class="form-control" placeholder="Doe">
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Usuario.ApellidoMaterno" class="form-label">Apellido Materno</label>
                <input asp-for="Usuario.ApellidoMaterno" type="text" class="form-control" placeholder="Doe">
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Usuario.Correo" class="form-label">Correo electrónico</label>
                <input asp-for="Usuario.Correo" type="email" class="form-control" placeholder="nombre@ejemplo.com">
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Usuario.TipoUsuarioId" class="form-label">Tipo de usuario:</label>
                <select asp-for="Usuario.TipoUsuarioId" class="form-control" asp-items="ViewBag.TipoUsuarios"></select>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="Departamento.EdificioId" class="form-label">Selecciona el edificio:</label>
                <select asp-for="Departamento.EdificioId" id="EdificioId" class="form-control" asp-items="ViewBag.Edificios">
                    <option value="" disabled selected>Selecciona edificio</option>
                </select>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="DepartamentoId" class="form-label">Selecciona el departamento:</label>
                <select asp-for="DepartamentoId" id="DepartamentoId" class="form-control" asp-items="ViewBag.Departamentos">
                    <option value="" disabled selected>Selecciona departamento</option>
                </select>
            </div>
            <div class="mb-3 col-6">
                <label class="d-block">Estatus</label>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" asp-for="Usuario.Estatus" type="radio" id="Activo" value="Activo">
                    <label class="form-check-label" for="Activo">Activo</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" asp-for="Usuario.Estatus" type="radio" id="Bloqueado" value="Bloqueado">
                    <label class="form-check-label" for="Bloqueado">Bloqueado</label>
                </div>
            </div>
            <div class="mb-3 col-6">
                <label asp-for="FechaInicio" class="form-label">Selecciona fecha de ingreso:</label>
                <input asp-for="FechaInicio" type="date" class="form-control">
            </div>
            <div class="mb-3 col-6"></div>
            <div class="col-12 text-end mt-4">
                <a value="Guardar" class="w-25 btn btn-outline-danger" asp-controller="Inquilino" asp-action="Index">Cancelar</a>
                <button type="submit" class="w-25 btn btn-primary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-floppy me-1" viewBox="0 0 16 16">
                        <path d="M11 2H9v3h2z" />
                        <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v4.5A1.5 1.5 0 0 1 11.5 7h-7A1.5 1.5 0 0 1 3 5.5V1H1.5a.5.5 0 0 0-.5.5m3 4a.5.5 0 0 0 .5.5h7a.5.5 0 0 0 .5-.5V1H4zM3 15h10v-4.5a.5.5 0 0 0-.5-.5h-9a.5.5 0 0 0-.5.5z" />
                    </svg>
                    Guardar
                </button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
