@model IEnumerable<UHabitacional_Web.Models.Inquilino>

@{
    ViewData["Title"] = "Inquilinos Page";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Inquilinos</li>
    </ol>
</nav>
<div>
    <h1 class="display-6 mb-5">Inquilinos</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                Tabla
            </div>
        </div>
    </div>
</div>